<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular frameWork</title>
</head>

<body>
  <h2> light-handed Framework </h2>
  </br>

  <h4> در انگولار Reactive یک فریم ورک جهت ایجاد ساده و راحت فرم های </h4>
  </br>
  </br>
  </br>
  
  <h6>مراحل انجام کار</h6>
  <ul>
    <li> FieldSetting   ایجاد یک آرایه از فیلد های مورد نیاز از نوع کلاس</li>
    <li> متناظر با فیلد های ایجاد شده FieldValidator   ایجاد یک آرایه از ولیدیشن های مورد نیاز فیلدهااز نوع کلاس</li>
    <li> جهت تنظیم فیلد ها FormGeneratorService از سرویس doFieldSetting() فراخوانی متد </li>
    <li> از فرم Instace و دریافت یک  FormSetting تعریف تنظیمات فرم با استفاده از کلاس</li>
    <li> فرم Instace با استفاده از  Html اتصال کلیه فیلد ها به فرم</li>    
  </ul>

  </br>
  </br>
  <p>
      توجه شود که برخی از نوع های فیلد های این کلاسها از نوع های تعریف شده در فریم ورک می باشد
       پیاده ساز تابع یا متد نمایش داده می شود، استفاده شوند Help و باید به همان شکل در توسط 
  </p>


</body>
</html>