<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular frameWork</title>
</head>

<body>
  <h2> Light-handed Framework </h2>
  </br>

  <h4> در انگولار Reactive یک فریمورک جهت ایجاد ساده و راحت فرم های </h4>
  </br>
  </br>
  </br>
  

  <h6>مراحل انجام کار</h6>
  <ul>
    <li> FieldSetting   ایجاد یک آرایه از فیلد های مورد نیاز از نوع کلاس</li>
    <li> متناظر با فیلد های ایجاد شده FieldValidator   ایجاد یک آرایه از ولیدیشن های مورد نیاز فیلدها،از نوع کلاس</li>
    <li> جهت تنظیم فیلد ها FormGeneratorService از سرویس doFieldSetting() فراخوانی متد </li>
    <li> از فرم Instace و دریافت یک  FormSetting تعریف تنظیمات فرم با استفاده از کلاس</li>
    <li> فرم Instace با استفاده از  Html اتصال کلیه فیلد ها به فرم</li>    
  </ul>


  </br>
  </br>

  <h3> توجه شود </h3>
  <p style="color: red"> متاسفانه در یک هفته نرسیدم که فریمورک رو کامل کنم، شاید یک هفته دیگه زمان لازم بود</p>
  <br>

  <p style="color: red">  مشاهده شود  Emplooyee  برای روش استفاده از فریم ورک کامپوننت </p>
  <br>  

  <p style="color: red"> ایجاد شود frame-work\baseComponent در Base کلیه کامپوننت های سیستم باید با ارث بری از کامپوننت های  
                             انجام دادم و بقیه رو نرسیدم SimpleForm که من فقط در مورد فایل اطلاعات پایه یا
  </p>
  <br>  

  <p style="color: red">  ساختار وراثت پیاده سازی شده اند Observable به صورت Api کلیه سرویس های فراخوانی 

  </p>
  <br>    






  


</body>
</html>